[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"

[packages]
configargparse = "*"
github3-py = {git = "https://github.com/sigmavirus24/github3.py"}

[requires]
python_version = "3.7"
